@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
*{
    font-family: "Raleway", sans-serif;
   

}
#LOGO{
    font-family: "TikTok Sans", sans-serif;
    color: blue;
    margin-left: 100px;
    font-weight: bolder;
    font-size: x-large;
}
.banner{
    font-size: 30px;
    line-height:5px ;
}
#actionimg{
    margin-right: 70px;
}
.action{
    margin-left: 110px;
}
#majkhan{
    line-height:5px ;
}
.pruser{
    line-height: 6px;
}
.button{
    border-radius: 10px;
    font-size: 12px;
    background-color: blue;
    border: none;
    padding: 15px 32px;
    text-align: right;
    display: inline-block;
    display: block;
    color: white ;
    background-size: 10px;
    margin-right: 100px;
}
.button2{
     border-radius: 10px;
    font-size: 12px;
    background-color: blue;
    border: none;
    padding: 15px 32px;
    text-align: right;
    display: inline-block;
    display: block;
    color: white ;
    background-size: 5px;
}
.button3{
    border-radius: 10px;
    font-size: 12px;
    background-color: blue;
    border: none;
    padding: 15px 32px;
    text-align: right;
    display: inline-block;
    display: block;
    color: white ;
    background-size: 10px;
    
}
.button4{border-radius: 10px;
    font-size: 12px;
    background-color: blue;
    border: none;
    padding: 15px 93px ;
    text-align: right;
    color: white ;

}
.button:hover{background-color: blueviolet;
    color: white;
}
.button2:hover{background-color: blueviolet;
    color: white;}
.button3:hover{
    background-color: blueviolet;
    color: white;
}
.button4:hover{
    background-color: blueviolet;
    color: white;
}
.header{
    background-image:url('Hero-bg.png');
    background-image: image('Hero-bg.png');
}
.subtitle{
    color:rgb(90, 82, 82);
}
#actionimg{
    border-radius:30px;
}
.productive{
    background-color: rgb(185, 195, 212);
    border-radius: 7px;
    margin-right: 8%;
    margin-left: 8%;
    height: 140px;
    
}
#prtext2{
    color: rgb(66, 66, 70);
    font-size: smaller;

}
#prtext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: blue ;
    margin-block: 20px;
font-size: 33px;

}
.aside{
    font-size: 30px;
    line-height:5px ;
    margin-top: 1px;
    margin-left: 100px;
}
form{
    font-size: larger;
    font-weight:bold ;
    margin-right: 100px
    
}
.field{
    line-height: 40px;
    width: 243px;
}
#extra{
    font-weight: bolder;
    font-size:x-large;
}
#footer{
    font-family: "TikTok Sans", sans-serif;
    font-weight: bolder;
    color: blue;

    font-size: 40px;
}
footer{
    font-family: "TikTok Sans", sans-serif;
    font-size: smaller;
    color:rgb(77, 70, 70) ;
}
.Reviewer{
    border-radius: 100%;
}
.box{
    background-color:aquamarine ;
    height: fit-content;
    width:fit-content;
    border-radius: 10px;

}
.Bold{
    font-weight: bold;
}
.rvline{line-height: 5px;}